@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .formBorder {
    @apply border hover:border-marine-blue p-6 rounded-xl mt-10  mr-10    w-36;
  }
  .grid-item {
    @apply grid gap-y-4 w-40 mt-5 grid-cols-2 relative;
  }
  .active .step {
    @apply text-marine-blue;
  }
  .step-item {
    @apply flex items-center  bg-transparent justify-center w-8 h-8   border border-white  rounded-full;
  }
  .right-size {
    @apply flex flex-col mx-auto m-5 p-5 max-h-[600px] w-[600px]  bg-white;
  }
}
